<section class="text-white text-center py-15 px-6">
  <h2
    class="text-3xl font-bold mb-16 leading-tight
           animate__animated animate__fadeInDown"
  >
    Beneficios de usar <span class="text-green-300">BetTracker</span>
  </h2>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-12 max-w-6xl mx-auto
           animate__animated animate__zoomIn animate__delay-1s"
  >
    <!-- Control total -->
    <div class="bg-white/5 p-6 rounded-2xl shadow-xl hover:scale-[1.02] transition-transform">
      <img src="/1.webp" alt="Control total" class="w-16 h-16 mx-auto mb-6 rounded-full shadow-md bg-white/10 p-2" />
      <h3 class="text-xl font-semibold mb-3 text-green-200">Control total</h3>
      <p class="text-base text-green-100 leading-relaxed">
        Registra tus métodos de análisis y añade todos tus partidos separados por cada método.
      </p>
    </div>

    <!-- Estadísticas detalladas -->
    <div class="bg-white/5 p-6 rounded-2xl shadow-xl hover:scale-[1.02] transition-transform">
      <img src="/2.webp" alt="Estadísticas detalladas" class="w-16 h-16 mx-auto mb-6 rounded-full shadow-md bg-white/10 p-2" />
      <h3 class="text-xl font-semibold mb-3 text-green-200">Estadísticas detalladas</h3>
      <p class="text-base text-green-100 leading-relaxed">
        Filtra por ligas, meses, resultado y estado. Las estadísticas se generarán automáticamente según los filtros aplicados.
      </p>
    </div>

    <!-- Privado y seguro -->
    <div class="bg-white/5 p-6 rounded-2xl shadow-xl hover:scale-[1.02] transition-transform">
      <img src="/3.webp" alt="Privado y seguro" class="w-16 h-16 mx-auto mb-6 rounded-full shadow-md bg-white/10 p-2" />
      <h3 class="text-xl font-semibold mb-3 text-green-200">Privado y seguro</h3>
      <p class="text-base text-green-100 leading-relaxed">
        Tus datos están protegidos y sólo tú tienes acceso a ellos.
      </p>
    </div>
  </div>
</section>
