<section
  class="min-h-screen container mx-auto pt-40 px-4 py-10 text-center flex flex-col"
>
  <h2 class="text-3xl font-semibold mb-4 text-gray-800">
    Bienvenido a Análisis de Apuestas Deportivas
  </h2>
  <p class="text-gray-600 max-w-xl mx-auto">
    Explora estadísticas, apunta tus resultados y mejora tus decisiones con
    datos reales.
  </p>
</section>
