---
import 'animate.css';
import Hero from './Hero.astro';
import Benefits from './Benefits.astro';
import TheWeb from './TheWeb.astro';
import CTA from './CTA.astro';
import Footer from './Footer.astro';
---

<section class="relative min-h-screen bg-cover bg-center bg-no-repeat" style="background-image: url('/tu-imagen-fondo.jpg');">
  <div class="w-full h-full bg-black/60 flex flex-col items-center justify-center px-4 py-10">
    <Hero />
    <Benefits />
    <TheWeb />
    <CTA />
    <Footer />
  </div>
</section>
