---
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import TheWeb from '../components/TheWeb.astro';
import CTA from '../components/CTA.astro';
---

<!-- Fondo común con imagen fija -->
<section
  class="bg-[url('src/public/fondo.png')] bg-cover bg-center bg-fixed min-h-screen text-white"
>
  <div class="backdrop-blur-sm backdrop-brightness-75">
    <Hero />
    <Benefits />
    <TheWeb />
    <CTA />
  </div>
</section>
