---
import Hero from './Hero.astro';
import Benefits from './Benefits.astro';
import TheWeb from './TheWeb.astro';
import CTA from './CTA.astro';
import Footer from './Footer.astro';
---

<!-- Fondo con imagen fija y máxima calidad -->
<section class="relative min-h-screen">
  <!-- Capa oscura semitransparente -->
  <div class="w-full h-full bg-black/60">
    <Hero />
    <Benefits />
    <TheWeb />
    <CTA />
    <Footer />
  </div>
</section>
