@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
    font-family: 'Inter', sans-serif;
  }

html {
    scroll-behavior: smooth;
}

/* Aplica solo a body, divs grandes o contenedores scrollables */
body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

body::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
  background: #0b0f24;
}

body::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover,
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #1e40af;
}

/* Firefox solo en scrollable */
.scrollable {
  scrollbar-width: auto;
  scrollbar-color: #2563eb #0b0f24;
}

/* Scroll invisibles pero funcionales solo en los campos de notas */
.custom-scroll::-webkit-scrollbar {
  height: 0px;
}
.custom-scroll {
  scrollbar-width: none; /* Firefox */
}
